.idea/
.bundle/
.bin

# Fixed ruby version
.ruby-version

# sqlite files
*.sqlite3

# tmp files
tmp/

# ignore Gemfile.lock and other lockfiles
*.lock

# Dummy app ignored stuff
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-shm
spec/dummy/db/*.sqlite3-wal
spec/dummy/log/*.log
spec/dummy/tmp/
